* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: $scale;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
  background-color: #f8fafc;
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

.layout-wrapper {
    min-height: 100vh;
}

.display-grid {
    display: grid;
}

.space-font {
    font-family: "Space Ranger", var(--font-family);
}

.text-nowrap {
  text-wrap: nowrap !important;
}

textarea.fixed-resizable {
  min-height: 2.5em;
  max-width: 100%;
  min-width: 100%;
}

.p-cell-editing {
  .p-inputnumber {
    .p-inputnumber-input {
      width: 100%;
    }
  }
}

.greyid {
  color: lightgrey !important;
  font-weight: 200 !important;
}

.column-text-right {
  .p-column-header-content {
    text-align: right;
    display: block !important;
  }
}

.column-text-center {
  .p-column-header-content {
    text-align: center;
    display: block !important;
  }
}

.p-datatable-loading-overlay {
  z-index: 4;
}

.p-datatable-thead {
  z-index: 3;
}

.p-frozen-column {
  z-index: 2;
}

.p-overlay-badge {
  z-index: 1;
}

.top-30 {
  top: 30%;
}

.undersquare-1 {
  z-index: 1;
  position: relative;
}

.undersquare-1:before {
  z-index: -1;
  content: "";
  display: inline-block;
  position: absolute;
  left: 0.2em;
  top: 1.05em;
  width: 2em;
  height: 0.3em;
  background-color: var(--primary-color);
}

.undersquare-2 {
  z-index: 1;
  position: relative;
}

.undersquare-2:before {
  z-index: -1;
  content: "";
  display: inline-block;
  position: absolute;
  left: 0.2em;
  top: 1.05em;
  width: 2em;
  height: 0.3em;
  background-color: var(--primary-colors-2);
}

.undersquare-3 {
  z-index: 1;
  position: relative;
}

.undersquare-3:before {
  z-index: -1;
  content: "";
  display: inline-block;
  position: absolute;
  left: 0.2em;
  top: 1.05em;
  width: 2em;
  height: 0.3em;
  background-color: var(--primary-colors-3);
}

.undersquare-4 {
  z-index: 1;
  position: relative;
}

.undersquare-4:before {
  z-index: -1;
  content: "";
  display: inline-block;
  position: absolute;
  left: -0.4em;
  top: 0.75em;
  width: 1.5em;
  height: 0.3em;
  background-color: var(--primary-colors-4);
}

.undersquare-4-alt {
  z-index: 1;
  position: relative;
}

.undersquare-4-alt:before {
  z-index: -1;
  content: "";
  display: inline-block;
  position: absolute;
  left: 0.2em;
  top: 1.05em;
  width: 2em;
  height: 0.3em;
  background-color: var(--primary-colors-4);
}

.undersquare-3-alt-2 {
  z-index: 1;
  position: relative;
}

.undersquare-3-alt-2:before {
  z-index: -1;
  content: "";
  display: inline-block;
  position: absolute;
  left: -0.4em;
  top: 1em;
  width: 2.1em;
  height: 0.3em;
  background-color: var(--primary-colors-3);
}

.bg-primary-gradient {
  background: linear-gradient(90deg, var(--primary-color) 0%, var(--primary-colors-1) 100%);
}

.text-primary-colors-1 {
  color: var(--primary-colors-1) !important;
}

.text-primary-colors-2 {
  color: var(--primary-colors-2) !important;
}

.text-primary-colors-3 {
  color: var(--primary-colors-3) !important;
}

.text-primary-colors-4 {
  color: var(--primary-colors-4) !important;
}

.border-primary-colors-1 {
  border-color: var(--primary-colors-1) !important;
}